*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100vh;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0A192F;
}
main{
    
        border-radius: 5px;

    background-color: aquamarine;
    width: 500px;
    min-width: 800px;
    min-height: 700px;
    
}
.panel{
    background-color: rgb(34, 183, 133);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90px;
    border-radius: 5px;
}
.info{
    color: rgb(41, 9, 89);
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 2px;
}
.game{
   display: flex; 
   flex-wrap: wrap;
}
.circle{
    margin: 10px;
    height: 40px;
    width:40px;
    border-radius: 50%;
    background-color: rgb(34, 183, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-weight: 700;
}
.circle:hover{
    background-color: rgb(9, 92, 64);
}
